:root {
    --color-Texte-transition: white;
}

.Corne {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.Corne>.corne-figure {
    flex: 0 1 clamp(220px, 40%, 45%);
    position: relative;
    min-width: 220px;
    height: clamp(220px, 30vw, 400px);
    border-radius: 12px;
    overflow: hidden;
}

.Corne>.corne-figure img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.8s ease;
}

.Corne>.corne-figure .CornR {
    opacity: 0;
}

.Corne>.corne-figure:hover .CornR {
    opacity: 1;
}

.Corne>.corne-figure:hover .CornB {
    opacity: 0;
}

.Corne>.corne-text {
    flex: 1 1 55%;
    display: flex;
    align-items: center;
    padding: 12px 10px;
}

.Texmage {
    margin: 0;
    font-size: 25px;
    line-height: 1.5;
    color: var(--Texmage-texte);
}

/* Responsive : max-wigth pour quand petit ecran et flex-direction column pour l'un sur l'autre et row pour cote a cote*/
@media (max-width: 800px) {
    .Corne {
        flex-direction: column;
    }

    .Corne>.corne-figure {
        width: 100%;
        height: 280px;
    }

    .Corne>.corne-text {
        padding-top: 12px;
    }
}

.Texdeo {
    margin: 20px;
    text-align: center;
    color: var(--color-texte);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /*Responsive pour geré les ecran*/
    overflow: hidden;
    max-width: 1920px;
    margin: 120px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

h2 {
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 50px;
    color: var(--color-texte);
}

h3 {
    font-size: 30px;
    text-align: center;
}

figcaption {
    display: none;
}

body {
    position: relative;
    background-attachment: fixed;
    background-image: url(image/Light.jpg);
    height: 100vh;
    /*vh = viewport height*/
    background-size: cover;
    /*cover ajuste image sans etre deformée*/
    background-repeat: no-repeat;
    background-color: var(--color-background);
    transition: all 0.8s ease;
}

/*Transition d'opacité entre le fond noir et blanc*/
body::before {
    content: '';
    /*Neccesaire pour le pseudo-élément existe, meme si vide*/
    position: fixed;
    inset: 0;
    background-image: url(image/test_dark_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: -1;
}

body:has(.Corne .corne-figure:hover)::before {
    opacity: 1;
}

/*Relié les deux avec la meme couleur*/
body:has(.Corne .corne-figure:hover) {
    color: #fff;
}

body:has(.Corne .corne-figure:hover) h2,
body:has(.Corne .corne-figure:hover) h3,
body:has(.Corne .corne-figure:hover) .Texmage,
body:has(.Corne .corne-figure:hover) .Texdeo {
    color: var(--color-Texte-transition);
    transition: color 0.8s ease;

}