@keyframes zoom {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/*Fade des textes*/
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2,
h3,
main p {
    opacity: 0;
    animation: fade-in-up 1s ease-out;
    animation-fill-mode: both;
    /*S'accroche a l'etat final*/
    animation-timeline: view();
    /*S'anime dans champ vision*/
    animation-range: entry 20% cover 40%;
    /*Range dans le champ vision*/
}

.bimg {
    aspect-ratio: 16/9;
}

body {
    background-attachment: fixed;
    background-image: url(image/vrchatfont.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(194, 192, 189);

}

main p {
    color: black;
    font-size: 25px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 30px;
    margin-left: 30px;
    background-color: rgb(128, 128, 128, 0.7);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
}

.TextRight {
    color: black;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(128, 128, 128, 0.7);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
    margin-left: auto;
    margin-right: 30px;
}

h2 {
    color: blueviolet;
    text-align: left;
    font-size: 50px;
    margin-left: 150px;
    text-decoration: underline;
}

h3 {
    color: blueviolet;
    text-align: right;
    font-size: 50px;
    margin-right: 150px;
    text-decoration: underline;
}