:root {
    --color-font-texte: rgb(128, 128, 128, 0.7);
}

h2,
h3,
main p {
    opacity: 0;
    animation: fade-in-up 1s ease-out;
    animation-fill-mode: both;
    /*S'accroche a l'etat final*/
    animation-timeline: view();
    /*S'anime dans champ vision*/
    animation-range: entry 20% cover 40%;
    /*Range dans le champ vision*/
}

body {
    background-attachment: fixed;
    background-image: url(image/vrchatfont.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-font);
}

main p {
    color: var(--color-texte);
    font-size: 25px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 30px;
    margin-left: 30px;
    background-color: var(--color-font-texte);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
}

.TextRight {
    color: var(--color-texte);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--color-font-texte);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
    margin-left: auto;
    margin-right: 30px;
    display: block;
    text-align: right;
}

.TextLeft {
    color: var(--color-texte);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--color-font-texte);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
    margin-left: 30px;
    margin-right: auto;
    display: block;
    text-align: left;
}

h2 {
    color: var(--color-titre);
    text-align: left;
    font-size: 50px;
    margin-left: 150px;
    text-decoration: underline;
}

h3 {
    color: var(--color-titre);
    text-align: right;
    font-size: 50px;
    margin-right: 150px;
    text-decoration: underline;
}

/*Fade des textes et legere effect de profondeur avec le transform*/
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {

    main p,
    .TextRight,
    .TextLeft {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        padding: 10px 14px;
        text-align: justify;
    }

    h2,
    h3 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: clamp(25px, 4.5vw, 45px);
    }
}