/*Petit saut sur les onglet nav*/
@keyframes Saut {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}


h1 {
    color: blueviolet;
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header nav a {
    color: rgb(189, 120, 213);
    font-size: 35px;
}

footer {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

footer ul {
    display: none;
}

footer p {
    font-size: 20px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 120px;
    list-style: none;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.4s ease;
}

nav a:hover {
    animation: Saut 0.6s ease;
    background-color: rgba(189, 120, 213, 0.2);
}